<% background = dish.photos.attached? ? cl_image_path(dish.photos.first.key) : image_path('dishes/margherita.jpg') %>
<% favorite_class = (user_signed_in? && current_user.dishes_favorite_ids.include?(dish.id)) ? ' favorite' : '' %>
<div class="card card-swipe card-dishes mb-2 mx-auto text-center<%= favorite_class %>" onclick=window.location="/restaurants/list/dish/<%= dish.id %>" data-id="<%= dish.id %>">
  <div style="background-image: url(<%= background %>)" class="card-header d-flex align-items-center justify-content-center">
    <h3><%= dish.name %></h3>
  </div>
  <div class="card-body">
    <% if user_signed_in? %>
        <div class="add-to-favorite" data-controller="favorite" data-action="click->favorite#toggle" data-type="dishes">
          <%= image_tag 'icons/heart.svg' %>
        </div>
    <% end %>
    <p class="card-text"><%= dish.description %></p>
  </div>
</div>
