<header class="d-flex justify-content-center align-items-center flex-column" style="background-image: url(<%= image_path('cuisines/italian.jpg') %>)">
  <h1 class="mt-auto"><%= @cuisine.name %></h1>
  <%= form_tag cuisine_search_path, method: :get , class: 'form-inline form-search mt-auto w-100' do %>
      <div class="form-group m-auto w-75">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control mx-sm-3 w-100",
          placeholder: "Search dishes in #{@cuisine.name} cuisine"
        %>
        <i class="fa fa-search"></i>
      </div>
    <% end %>
</header>

<div class="mt-5">
  <% 5.times do %>
    <%= render 'dish_card' %>
  <% end %>
</div>
