<nav id="sidebar">
  <div class="p-4 pt-5 mt-4">
    <% if user_signed_in? %>
      <a href="#userSubMenu" data-toggle="collapse" aria-expanded="false" class="img logo rounded-circle" style="background-image: url(https://res.cloudinary.com/frugo/image/upload/oy1ftz4zoowlh483tu4aekpq46t4); background-size: contain"></a>
    <% else %>
      <div class="text-center mx-auto mb-2 w-75">
        <%= link_to "Login", "#", class: 'btn btn-outline-primary btn-rounded d-block', data: { toggle: 'modal', target: '#loginModal', controller: "sidebar", action: "click->sidebar#click" } %>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-outline-secondary btn-rounded d-block mt-2' %>
      </div>
    <% end %>

    <ul class="list-unstyled components mb-5">
    <% if user_signed_in? %>
        <li id="user-info" class="mb-4 text-center">
          <a href="#userSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><%= current_user.nickname %></a>
          <ul class="collapse list-unstyled" id="userSubMenu">
            <li>
              <a>update avatar</a>
            </li>
            <li>
              <a>update password</a>
            </li>
            <li>
              <a>change email</a>
            </li>
            <li>
              <a>logout</a>
            </li>
          </ul>
        </li>
      <% end %>
      <li>
        <%= link_to 'Home', root_path %>
      </li>
      <li>
        <a href="#cuisineSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Discover a Cuisine</a>
        <ul class="collapse list-unstyled" id="cuisineSubMenu">
          <% @cuisines.each do |cuisine| %>
            <li>
              <%= link_to cuisine.name, cuisine_path(cuisine) %>
            </li>
          <% end %>
        </ul>
      </li>
      <li>
        <a href="#locationSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Browse Locations</a>
        <ul class="collapse list-unstyled" id="locationSubMenu">
          <% @locations.each do |location| %>
            <li>
              <%= link_to location.name, location_path(location) %>
            </li>
          <% end %>
        </ul>
      </li>
      <li>
        <a href="#" data-toggle="modal" data-target="#userLocationModal" data-controller="sidebar" data-action="click->sidebar#click">Change location</a>
      </li>
      <!--<li>
        <a href="#locationSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Location</a>
        <ul class="collapse list-unstyled" id="locationSubMenu">
          <li>
            <a>Current location</a>
          </li>
          <li>
            <a href="#">Choose location</a>
          </li>
        </ul>
      </li>-->
    </ul>

    <div class="footer w-75">
      <small>©<%= Date.today.year %> Eathentic</small>
    </div>

  </div>
</nav>

<div class="modal fade" id="userLocationModal" tabindex="-1" aria-labelledby="userLocationModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userLocationModalLabel">Set location</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <% if cookies[:latitude].nil? %>
              <small>Please set your location</small>
          <% end %>
          <div id="geocoder" class="geocoder"></div>
          <div style="height: 30vh" class="mb-4 position-relative">
            <div id="userMap" data-apikey="<%= ENV['MAPBOX_KEY'] %>" style="height: 100%"></div>
          </div>
          <div>
          <%= link_to "See restaurants in this location", restaurants_list_path, class: "btn btn-outline-primary btn-rounded d-none m-auto", id: "modal-button" %>
          </div>
      </div>
    </div>
  </div>
</div>

<% unless user_signed_in? %>
  <%= render 'devise/sessions/modal' %>
<% else %>
  <%= render 'devise/sessions/update' %>
<% end %>
