<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalTitle">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-inputs">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-label-group">
            <%= f.input :email,
                      required: true, label: false, wrapper: false,
                      input_html: { autocomplete: "email", placeholder: "Email" } %>
            <%= f.label :email %>
          </div>

          <div class="form-label-group">
            <%= f.input :password,
                      required: true, label: false, wrapper: false,
                      input_html: { autocomplete: "current-password", placeholder: "Password confirmation" } %>
            <%= f.label :password %>
          </div>

          <div class="d-none">
            <%= f.input :remember_me, as: :boolean, input_html: { checked: true } if devise_mapping.rememberable? %>
          </div>
        <%= f.button :submit, "Log in", class: 'btn btn btn btn-secondary btn-rounded d-block w-50 mx-auto' %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
