<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.description %></p>

<% if policy(@restaurant).review? %>
  <%= render 'components/leave-review' %>
<% end %>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      <%= review.rating %>
      <%= review.content %>
    </li>
  <% end %>
 </ul>



