<header class="d-flex justify-content-center align-items-center flex-column" style="background-image: url(<%= cl_image_path(@restaurant.photos.first.key) %>)">
  <h1 class="mt-auto text-center"><%= @restaurant.name %></h1>
  <%= form_tag restaurant_show_search_path, method: :get , class: 'form-inline form-search mt-auto w-100', data: {controller: 'search', action: 'submit->search#spinner'} do %>
      <div class="form-group m-auto w-75">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control mx-sm-3 w-100",
          placeholder: "Search in #{@restaurant.name}"
        %>
        <i class="fa fa-search"></i>
      </div>
    <% end %>
</header>

<div class="mt-4 w-100">
  <div class="m-auto w-100 text-center">
    <div class="btn-group btn-group-toggle my-2 mx-auto" data-toggle="buttons">
      <label data-controller="review" data-action="click->review#show_dishes" class="btn btn-primary text-white active" style="border-radius: 10px 0 0 10px">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> Dishes
           <% unless @dishes.empty? %>
            (<%= @dishes.count %>)
          <% end %>
      </label>
      <label data-controller="review" data-action="click->review#show_reviews" class="btn btn-primary text-white" style="border-radius: 0 10px 10px 0">
        <input type="radio" name="options" id="option2" autocomplete="off"> Reviews
        <% unless @restaurant.reviews.empty? %>
          (<%= @restaurant.reviews.count %>)
        <% end %>
      </label>
    </div>
  </div>

  <div id="dishes">
    <% if @restaurant.dishes.empty? %>

      <h4 class="text-center mt-3">Ops!</h4>
      <p class="text-center">No dishes for this restaurant are available 😢</p>

    <% else %>

      <% if action_name == 'search' && params[:query].present? %>
        <h4 class="text-center mb-3"><span><%= pluralize(@dishes.count, 'result') %></span> for <span class="badge badge-primary align-middle"><%= params[:query] %></span></h4>

        <% if @dishes.count === 0 %>
          <p class="text-center">Try a more generic search 😉</p>
        <% end %>
      <% end %>

    <% end %>

    <% @dishes.each do |dish| %>
      <%= render 'dish_card', dish: dish %>
    <% end %>
    <% if policy(@restaurant).add_dish? %>
      <%= render 'components/add-dish' %>
      <%= link_to "Add a dish", "#", data: { toggle: "modal", target: "#addDishModal" }, class: "btn btn-primary btn-rounded d-block my-4 mx-auto w-50" %>
   <% end %>

  </div>
</div>

<div id="reviews" style="display: none">
  <% if @restaurant.reviews.empty? %>
    <h4 class="text-center mt-3">Ops!</h4>
    <p class="text-center">No authentic reviews yet 😢</p>
  <% end %>

  <% if policy(@restaurant).review? %>
    <%= render 'components/leave-review' %>
  <% end %>

    <% @restaurant.reviews.each do |review| %>
      <div class="row mt-3 comments-container mx-3">

        <div class="col-12 content-comments d-flex flex-column" data-count="<%=@counter%>">
          <div class="position-absolute" style="top: -15%; left: 5px">
            <div class="row avatar-comments">
              <%= review.user.navbar_avatar(size: 40) %>
            </div>
          </div>
          <div class="text-center">
            <i class="fas fa-plus"><%= review.counter %><p>vote(s)</p></i>
          </div>
          <div class="position-absolute" style="right: 1em; top: 5%;  font-size: .9rem">
            <%= '<i class="fas fa-star text-warning"></i>'.html_safe * (review.rating || 0) %>
          </div>
          <p class="mt-4 "><%= review.content %></p>
          <div class="d-flex flex-row comment-bottom">
            <div>
              <%= review.user.nickname %>
            </div>
            <div class="comments-date flex-grow-1 text-right">
              <time class="timeago d-none" datetime="<%= review.created_at.iso8601 %>"></time>

              <div class="reactions">
                <span class="heart">
                  <i class="fas fa-heart" data-value="2" data-controller="reaction" data-action="click->reaction#count"></i>
                </span>
                <span class="like">
                  <i class="fas fa-thumbs-up" data-value="1" data-controller="reaction" data-action="click->reaction#count"></i>
                </span>
                <span class="dislike">
                  <i class="fas fa-thumbs-down" data-value="-1" data-controller="reaction" data-action="click->reaction#count"></i>
                </span>
                <span class="angry">
                  <i class="fas fa-angry" data-value="-2" data-controller="reaction" data-action="click->reaction#count"></i>
                </span>
              </div>

            </div>

          </div>
        </div>
      </div>
    <% end %>
</div>
